Repository grapl-security/grapl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @christophermaier, @wimax-grapl, @inickles-grapl, @jgrillo-grapl, @twunderlich-grapl, @colin-grapl, @andrea-grapl, @grapl-security/wg-data-infra

.github/CODEOWNERS:

.python-version @christophermaier
/3rdparty/ @christophermaier
/bin/ @christophermaier
/buf.yaml @christophermaier
BUILD @christophermaier
/BUILDING.md @christophermaier
/.buildkite/ @christophermaier
/build-support/ @christophermaier
/CHORES.md @christophermaier
/CODE_OF_CONDUCT.md @christophermaier
/codecov.yml @christophermaier
/CONTRIBUTING.md @christophermaier
/debugger/ @christophermaier
/devbox/ @wimax-grapl
/docker-bake.hcl @christophermaier
/docker-compose*.yml @christophermaier
*Dockerfile* @christophermaier @inickles-grapl
/Dockerfile.pulumi @christophermaier
.dockerignore @christophermaier @inickles-grapl
/docs/ @wimax-grapl
/EDITOR_SETUP.md @christophermaier
/etc/ @christophermaier
/etc/ci_scripts/ @wimax-grapl
/etc/formatter/ @wimax-grapl
/etc/sample_data/ @jgrillo-grapl
/firecracker @wimax-grapl
/.flake8 @christophermaier
.gitattributes @christophermaier
/.github/ @christophermaier
.gitignore @christophermaier
/LICENSE @christophermaier
/LOCAL_UI_WORKFLOW.md @christophermaier
/nomad @twunderlich-grapl
/pants @christophermaier
/pants.ci.toml @christophermaier
/pants.toml @christophermaier
/postgres/ @colin-grapl @wimax-grapl
/pulumi/ @christophermaier
/pyproject.toml @christophermaier
/README.md @christophermaier
/.rustfmt.toml @christophermaier
/scylladb/ @twunderlich-grapl
/src/js/frontend/ @andrea-grapl
/src/proto/ @grapl-security/wg-data-infra
/src/python/grapl-plugin-sdk/ @colin-grapl @wimax-grapl
/src/python/grapl-common/ @wimax-grapl
/src/python/graplctl/ @jgrillo-grapl
/src/python/grapl-tests-common/ @wimax-grapl
/src/python/mypy.ini @christophermaier @wimax-grapl
/src/python/provisioner/ @jgrillo-grapl
/src/python/python-proto/ @grapl-security/wg-data-infra
/src/rust/bin/ @christophermaier
/src/rust/.cargo @christophermaier
/src/rust/.cargo/audit.toml @colin-grapl @inickles-grapl
/src/rust/Cargo.lock @christophermaier
/src/rust/Cargo.toml @christophermaier
/src/rust/async-cache/ @jgrillo-grapl
/src/rust/analyzer-dispatcher/ @jgrillo-grapl
/src/rust/client-executor/ @colin-grapl
/src/rust/consul-connect/ @colin-grapl @wimax-grapl
/src/rust/derive-dynamic-node/ @colin-grapl
/src/rust/e2e-tests/ @wimax-grapl
/src/rust/endpoint-plugin/ @inickles-grapl
/src/rust/event-source/ @wimax-grapl
/src/rust/generator-dispatcher/ @wimax-grapl
/src/rust/generators/ @inickles-grapl
/src/rust/graph-merger/ @grapl-security/wg-data-infra
/src/rust/graph-mutation/ @colin-grapl
/src/rust/graph-query-proxy/ @colin-grapl
/src/rust/graph-query-service/ @colin-grapl
/src/rust/graph-schema-manager @colin-grapl @wimax-grapl
/src/rust/grapl-config/ @inickles-grapl @wimax-grapl
/src/rust/grapl-graphql-codegen/ @colin-grapl
/src/rust/grapl-tracing/ @wimax-grapl
/src/rust/grapl-utils/ @inickles-grapl
/src/rust/grapl-web-ui/ @inickles-grapl
/src/rust/kafka/ @grapl-security/wg-data-infra
/src/rust/kafka-retry/ @jgrillo-grapl
/src/rust/node-identifier/ @grapl-security/wg-data-infra
/src/rust/nomad-client-gen/ @wimax-grapl
/src/rust/organization-management/ @andrea-grapl
/src/rust/pipeline-ingress/ @jgrillo-grapl
/src/rust/plugin-bootstrap/ @colin-grapl
/src/rust/plugin-execution-sidecar/ @wimax-grapl
/src/rust/plugin-registry/ @colin-grapl
/src/rust/plugin-sdk/ @colin-grapl
/src/rust/plugin-work-queue/ @colin-grapl
/src/rust/rust-proto/ @grapl-security/wg-data-infra
/src/rust/rust-toolchain.toml @inickles-grapl
/src/rust/scylla-provisioner/ @colin-grapl @wimax-grapl
/src/rust/sysmon-parser/ @inickles-grapl
/src/rust/uid-allocator/ @colin-grapl
/src/sh/ @wimax-grapl @christophermaier
/test/docker-compose* @inickles-grapl @christophermaier
/test/run @wimax-grapl

**/Makefile @christophermaier

lock
  src/rust/Cargo.lock
Owners: @christophermaier

Add a `grapl` namespace to all container image names
  .buildkite/scripts/build_and_upload_images.sh
  docker-bake.hcl
  pulumi/infra/docker_images.py
Owners: @christophermaier

Make DockerImageIdBuilder.build a "private" static method
  pulumi/infra/docker_images.py
Owners: @christophermaier

Use `None` rather than an empty string for specifying a registry
  pulumi/infra/docker_images.py
Owners: @christophermaier

Registry, not repository
  pulumi/grapl/__main__.py
  pulumi/infra/config.py
  pulumi/infra/docker_images.py
  pulumi/python_integration_tests/__main__.py
  pulumi/rust_integration_tests/__main__.py
Owners: @christophermaier

Ensure that non-local stacks must specify a Cloudsmith repository.
  pulumi/infra/config.py
Owners: @christophermaier

Namespace all images, even if we're not pushing
  docker-bake.hcl
Owners: @christophermaier

Logging
  pulumi/infra/docker_images.py
Owners: @christophermaier

Remove pydantic and toml
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
Owners: @christophermaier

Beseech engineers to say **why** a dependency is pinned.
  3rdparty/python/requirements.txt
Owners: @christophermaier

Update `manage_virtualenv.sh` script with current Pants conventions
  build-support/manage_virtualenv.sh
Owners: @christophermaier

Unpin `pulumi-aws`
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  pulumi/grapl/Pulumi.local-grapl.yaml
Owners: @christophermaier

Remove unnecessary `cookiecutter` dependency
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  src/python/mypy.ini
Owners: @christophermaier, @wimax-grapl

Use hyphens consistently for Python dependency names
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
Owners: @christophermaier

Unpin `python-nomad`
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
Owners: @christophermaier

Remove `protobuf` Python dependency pin
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  pants.toml
Owners: @christophermaier

Update `test-unit-python` target with current Pants syntax
  Makefile
  pants.toml
Owners: @christophermaier

Unpin Pulumi dependency
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
Owners: @christophermaier

Pull in Pulumi Python library v3.40.2
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  Dockerfile.pulumi
Owners: @christophermaier

It seemingly passes tests
  src/rust/graph-query-proxy/Cargo.toml
  src/rust/graph-query-proxy/src/config.rs
  src/rust/graph-query-proxy/src/main.rs
  src/rust/plugin-registry/src/server/deploy_plugin.rs
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
  src/rust/rust-proto/src/client_factory/services/graph_query.rs
Owners: @colin-grapl, @grapl-security/wg-data-infra

woops, bad ternary statement
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
Owners: @colin-grapl

will it work if i make it not dynamic
  src/rust/plugin-registry/src/server/deploy_plugin.rs
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
Owners: @colin-grapl

fix up gqp cargo.toml a bit
  src/rust/Cargo.lock
  src/rust/graph-query-proxy/Cargo.toml
Owners: @christophermaier, @colin-grapl

Split up generator and analyzer into two diff nomad files
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
  src/rust/plugin-registry/src/server/deploy_plugin.rs
  src/rust/plugin-registry/src/static_files/README.md
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
  src/rust/plugin-registry/src/static_files/mod.rs
Owners: @colin-grapl, @wimax-grapl

fix lint
  src/rust/plugin-registry/src/server/deploy_plugin.rs
Owners: @colin-grapl

remove graph-query upstream from generator
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
Owners: @colin-grapl

Remove unnecessary comments in plugin nomad files
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
Owners: @colin-grapl

Clarify the constraints comment
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
Owners: @colin-grapl

Change some 'plugin's to 'generator'/'analyzer'
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
Owners: @colin-grapl

add a healthcheck
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
Owners: @colin-grapl

rename job back to original
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
Owners: @colin-grapl

shorten service names
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_generator.nomad
Owners: @colin-grapl

Extend gRPC timeout to 15s, preventing integration test timeouts on devbox
  src/rust/rust-proto/src/client_factory/build_grpc_client.rs
Owners: @grapl-security/wg-data-infra
