Repository grapl-security/grapl, pull requests merged in 2021-01, with the labels that each got.

#540 Update deps
  src/rust/Cargo.lock
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/derive-dynamic-node/Cargo.toml
  src/rust/derive-dynamic-node/src/bin/ex.rs
  src/rust/generators/generic-subgraph-generator/Cargo.toml
  src/rust/generators/generic-subgraph-generator/src/generator.rs
  src/rust/generators/generic-subgraph-generator/src/main.rs
  src/rust/generators/generic-subgraph-generator/src/tests.rs
  src/rust/generators/graph-generator-lib/Cargo.toml
  src/rust/generators/graph-generator-lib/src/aws.rs
  src/rust/generators/graph-generator-lib/src/lib.rs
  src/rust/generators/graph-generator-lib/src/local.rs
  src/rust/generators/osquery-subgraph-generator/Cargo.toml
  src/rust/generators/osquery-subgraph-generator/src/generator.rs
  src/rust/generators/osquery-subgraph-generator/src/parsers/grapl_pack/files.rs
  src/rust/generators/osquery-subgraph-generator/src/parsers/grapl_pack/mod.rs
  src/rust/generators/osquery-subgraph-generator/src/parsers/grapl_pack/process_files.rs
  src/rust/generators/osquery-subgraph-generator/src/parsers/grapl_pack/processes.rs
  src/rust/generators/osquery-subgraph-generator/src/parsers/mod.rs
  src/rust/generators/osquery-subgraph-generator/src/serialization.rs
  src/rust/generators/osquery-subgraph-generator/src/tests/mod.rs
  src/rust/generators/sysmon-subgraph-generator/Cargo.toml
  src/rust/generators/sysmon-subgraph-generator/src/generator.rs
  src/rust/generators/sysmon-subgraph-generator/src/main.rs
  src/rust/graph-descriptions/Cargo.toml
  src/rust/graph-merger/Cargo.toml
  src/rust/graph-merger/src/main.rs
  src/rust/grapl-config/Cargo.toml
  src/rust/grapl-observe/Cargo.toml
  src/rust/metric-forwarder/Cargo.toml
  src/rust/node-identifier/Cargo.toml
  src/rust/node-identifier/src/lib.rs
  src/rust/sqs-lambda/Cargo.toml
  src/rust/sqs-lambda/examples/merging_example.rs
  src/rust/sqs-lambda/src/event_processor.rs
  src/rust/sqs-lambda/src/event_retriever.rs
  src/rust/sqs-lambda/src/lib.rs
  src/rust/sqs-lambda/src/local_sqs_service.rs
  src/rust/sqs-lambda/src/retry.rs
  src/rust/sqs-lambda/src/service_builder.rs
  src/rust/sqs-lambda/src/sqs_completion_handler.rs
  src/rust/sqs-lambda/src/sqs_consumer.rs
  src/rust/sqs-lambda/src/sqs_service.rs
Labels: bug, dependencies, rust

#543 [Chore] Specify Rust version with rust-toolchain file
  .github/workflows/grapl-lint.yml
  src/rust/rust-toolchain
Labels: rust

#497 Fix GraphQL lens_scope code
  src/js/graphql_endpoint/modules/schema.js
  src/js/graphql_endpoint/yarn.lock
  src/js/grapl-cdk/package.json
Labels: bug, performance
